[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = "*"
django = "*"
djangorestframework = "*"
celery ="*"
elasticsearch = "*"
elasticsearch-dsl = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
sqlparse = "*"
urllib3 = "*"
tzdata = "*"
drf-yasg = "*"
django-cors-headers = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
